.dimension-foto {
  padding: 1%;
  text-align: center;
  min-width:100%;
  min-height:100%;
}

.dimension-minifoto {
  padding: 1%;
  text-align: center;
  width: 25%;
}

.video-componente{
  min-width:80%;
  text-align: center;
  min-height:70%;
}