<ion-content>
  <div *ngIf="dispositivoMovil">
    <img [src]="imagenUrl" alt="../../assets/user-biometric.png" class="dimension-foto">
    <ion-button 
      (click)="tomarFoto()" 
      color="primary" 
      expand="block"
      icon="loop2"
    >
      Tomar foto
    </ion-button >
    <ion-button 
      icon="plus" 
      *ngIf="image" 
      (click)="enviarFotografia()" 
      color="success" 
      expand="block"
      icon="checkmark"
    >
      Enviar fotografia
    </ion-button>
  </div>

  <div [hidden]=" dispositivoMovil">
    <video #video class="video-componente"></video>

    <div class="container">
      <div class="row" >
        <div class="col-sm-4" *ngFor="let captura of listaCapturas">
          <img [src]="captura" alt="../../assets/user-biometric.png" class="dimension-minifoto">
        </div>
      </div>
    </div>

    <canvas #canvas id="canvas" width="640" height="480" hidden></canvas>
  </div>
  
</ion-content>