<ion-app class="content" >
  <ion-split-pane contentId="main-content" class="content" >
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="content" >
          <ion-list id="inbox-list">
            <ion-item-divider>
              <ion-list-header>Menú - TDEA Autenticación biométrica</ion-list-header>
            </ion-item-divider>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item [hidden]="p.noHidden" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet class="content" id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
